doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cycle-PC
    link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
    link(rel="stylesheet", href="lib/style.css")
  body 
    //- Alex Zolotarov 2021.05.14 
    //- https://webgtx.github.io/

    .wrapper  
      //- Header: first block of website
      header.header 
        .topbar 
          img.logo(src="lib/media/logo.svg", alt="logo")
          nav.nav 
            a.nav__item(href="#") Главная
            a.nav__item(href="#") Курсы
            a.nav__item(href="#") Расписание
            a.nav__item(href="#") Преподаватели
            a.nav__item(href="#") Рассылка
            a.nav__item(href="#") Контакты
          button.sign-up Зайти в кабинет
        img.intro__bg(src="lib/media/main-bg.svg", alt="background")
        .intro 
          h2.intro__title Первый курс <br> по компьютерной сборке
          .intro__timer 
            script(src="//megatimer.ru/get/6623a1c69caa6fda04f4b776f88d6f6e.js")
        .botbar
          .botbar__container 
            button.buy-course Заказать курс 
            p.all-students Учеников всего: <span class="result">200</span>
            p.done-students Успешно закончили курс: <span class="result">190</span>
            .topbar__earning  
              .earning__text Заработано учениками: <span class="result">400 000 P</span>
              .earning__line 
              .earning__stats 
                p.stats__text 0
                p.stats__text 100000 P
      //- Main: Main content container
      main.main 
        //- About compnay
        .about
          img.about__img(src="lib/media/pc.svg", alt="computer" data-aos="fade-right")
          .about__info(data-aos="fade-left")
            h2.info__title Чем мы занимаемся?
            p.info__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati corporis blanditiis temporibus assumenda, incidunt perferendis nesciunt autem veritatis ut sunt sed magni molestiae est aliquam rem saepe ab aliquid voluptate! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab a dolores vero doloremque dolorum quod officia quis sint, officiis autem soluta aliquam nihil, ratione numquam praesentium exercitationem laudantium impedit sequi.
        .start
          .start__title 
            img.start-img(src="lib/media/elem.svg", alt="element")
            h2.start-text Быстрый старт
          .start__info Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер
          .start__progress
            h2.progress__text 100%
            h2.progress__text 75%
            h2.progress__text 50% 
            h2.progress__text Итог
            .porgress__bar(class="first")
            .porgress__bar(class="second")
            .porgress__bar(class="third")
            .porgress__bar(class="fourth")
            p.progress__info Lorem ipsum dolor sit amet consectetur adipisicing elit. In, sit! At nobis, enim architecto asperiores quasi minima temporibus vel animi voluptatibus neque quas ipsum repellendus doloremque iusto, esse nihil sint.
            p.progress__info Lorem ipsum dolor sit amet consectetur adipisicing elit. In, sit! At nobis, enim architecto asperiores quasi minima temporibus vel animi voluptatibus neque quas ipsum repellendus doloremque iusto, esse nihil sint.
            p.progress__info Lorem ipsum dolor sit amet consectetur adipisicing elit. In, sit! At nobis, enim architecto asperiores quasi minima temporibus vel animi voluptatibus neque quas ipsum repellendus doloremque iusto, esse nihil sint.
            p.progress__info Lorem ipsum dolor sit amet consectetur adipisicing elit. In, sit! At nobis, enim architecto asperiores quasi minima temporibus vel animi voluptatibus neque quas ipsum repellendus doloremque iusto, esse nihil sint.
        .advantages
          h1.advantages__title Получите профессию прямо сейчас
          .advantages__options
            .option__item
              img.option-ico(src="lib/media/icon-1.svg", alt="icon")
              h3.option-title Только практические <br> навыки в работе
              p.option-info Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Вопроса взгляд сбить страну букв все власти строчка, ручеек последний злых меня текста лучше первую. Единственное рот текст знаках пор.
            .option__item
              img.option-ico(src="lib/media/icon-2.svg", alt="icon")
              h3.option-title Работа на самом <br> современном оборудовании
              p.option-info Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Вопроса взгляд сбить страну букв все власти строчка, ручеек последний злых меня текста лучше первую. Единственное рот текст знаках пор.
            .option__item
              img.option-ico(src="lib/media/icon-3.svg", alt="icon")
              h3.option-title Сертификация <br>по окончании обучения
              p.option-info Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Вопроса взгляд сбить страну букв все власти строчка, ручеек последний злых меня текста лучше первую. Единственное рот текст знаках пор.

      footer.footer
  
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js") 
    script(src="lib/script.js") 