  // Alex Zolotarov 2021.05.14 
  // https://webgtx.github.io/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background: url(media/bgt.png);
  background-size: 40px;
}
.result {
  text-align: right;
  color: #fff;
}
@mixin defualt-button {
  height: 38px;
  width: 183px;
  border-radius: 50px;
  border: none;
  color: #fff;
}
@mixin light-text {
  font-size: 16px;
  font-weight: 400;
  color: gray;
}

// Header
.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .topbar {
    position: fixed;
    height: 85px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    .nav {
      .nav__item {
        text-decoration: none;
        color: #fff;
        margin: 0 3%;
      }
    }
    .sign-up {
      @include defualt-button;
      background: linear-gradient(45deg, #C89AFC, #7C6AFA);
    }
  }
  .intro__bg {
    height: 90vh;
    width: 100vw;
    object-fit: cover;
  }
  // Intro 
  .intro {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 180px;
    width: 920px;
    .intro__title {
      font-size: 64px;
      transform: translate(-10%, 0);
    }
    .intro__timer {
      transform: scale(60%,60%) translate(-50%, 0);
    }
  }
  .botbar {
    height: 10vh;
    background: #121212;
    display: flex;
    justify-content: center;
    align-self: center;
    .botbar__container {
      min-width: 1150px;
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr 2fr;
      grid-template-areas: 
      'button all-std line'
      'button done-std line';
      .buy-course {
        grid-area: button;
        @include defualt-button;
        background: linear-gradient(90deg, #DF5950, #451046);
        font-weight: bold;
        align-self: center;
        justify-self: center;
      }
      .all-students {
        grid-area: all-std;
        @include light-text;
        margin: 5px 0;
        align-self: end;
        justify-self: start;
      }
      .done-students {
        grid-area: done-std;
        @include light-text;
        margin: 5px 0;
        align-self: start;
        justify-self: start;
      }
      .topbar__earning {
        grid-area: line;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-self: center;
        .earning__text {
          @include light-text;
          margin-bottom: 8px;
          align-self: flex-start;
        }
        .earning__line {
          width: 714px;
          height: 6px;
          background: #fff;
          &::before {
            content: '';
            display: block;
            height: 6px;
            width: 400px;
            background: linear-gradient(90deg, #DF5950, #451046);
          }
        }
        .earning__stats {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin: 8px;
          @include light-text;
        }
      }
    }
  }
}

// Main
.main {
  max-width: 1300px;
  margin: 0 auto;
  // About
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;  
    .about__img {
      object-fit: fill;
      transform: translate(0, 15%);
    }
    .about__info {
      max-width: 636px;
      display: flex;
      flex-direction: column;
      .info__title {
        font-size: 48px;
        margin-bottom: 45px;
      }
    }
  }
  .start {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .start__title {
      display: flex;
      align-items: center;
      align-self: flex-start;
      .start-text {
        font-size: 48px;
        margin-left: 20px;
      }
    }
    .start__info {
      max-width: 411px;
      align-self: flex-start;
      margin-top: 49px;
      margin-bottom: 80px;
      @include light-text;
    }
  }
  .start__progress {
    max-width: 1296px;
    max-height: 273px;
    display: grid;
    grid-template: .5fr .8fr 1fr / 1fr 1fr 1fr 1fr;
    .progress__text {
      font-size: 36px;
    }
    .porgress__bar {
      width: 324px;
      background: linear-gradient(90deg, #C89AFC, #7C6AFA);
      align-self: center;
    }
    .first {
      height: 80px;
    }
    .second {
      height: 60px;
    }
    .third {
      height: 30px;
    }
    .fourth {
      height: 10px;
    }
    .progress__info {
      @include light-text;
      transform: translate(0, 35px);
    }
  }
}